<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @retailer_profile.user %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @retailer_profile.business_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @retailer_profile.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @retailer_profile.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @retailer_profile.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @retailer_profile.address2 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @retailer_profile.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @retailer_profile.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @retailer_profile.country %>
</p>

<p>
  <strong>Paypal username:</strong>
  <%= @retailer_profile.paypal_username %>
</p>

<%= link_to 'Edit', edit_retailer_profile_path(@retailer_profile) %> |
<%= link_to 'Back', retailer_profiles_path %>
